body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    position: relative;
    border-bottom: 2px solid #7fff00;
    background: rgb(36,238,241);
    background: linear-gradient(47deg, rgba(36,238,241,1) 39%, rgba(255,253,0,1) 91%);
}

.play {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    background: center/cover no-repeat url(./img/play-button.png);
    border: none;
}

.panel-wrapper {
    display: flex;
    justify-content: space-around;
    width: 750px;
    height: 398px;
    margin: 0 auto;
}

.press-enter {
    display: none;
}

.blink {
    -webkit-animation: blink 0.1s linear infinite;
    animation: blink 0.1s linear infinite;
}
@-webkit-keyframes blink {
    50% { color: rgb(34, 34, 34); }
    51% { color: rgba(34, 34, 34, 0); }
    100% { color: rgba(34, 34, 34, 0); }
}
@keyframes blink {
    50% { color: rgb(34, 34, 34); }
    51% { color: rgba(34, 34, 34, 0); }
    100% { color: rgba(34, 34, 34, 0); }
}